<!-- angular material navbar menu  -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <!-- router link to home where you can search a city -->
        <a mat-list-item href="javascript:void(0)" routerLink="home">
          <mat-icon mat-list-icon color="primary">home</mat-icon>
          Home
        </a>
        <!-- router link to dashboard where you can see the city that you selected -->
        <a mat-list-item href="javascript:void(0)" routerLink="dashboard">
          <mat-icon mat-list-icon color="primary">dashboard</mat-icon>
          Dashboard
        </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span>Weather App</span>
    </mat-toolbar>
    <!-- router-outlet -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
