<!-- material layout with accordion, thanks to this i am able to filter the data in dashboard bt click the option field in mat-select -->
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Order Dashboard by
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>Order</mat-label>
      <mat-select>
        <!-- select options with event binding -->
        <mat-option (click)="ascending()" >Name (A-Z)</mat-option>
        <mat-option (click)="descending()">Name (Z-A)</mat-option>
        <mat-option (click)="maxTemp()">Hottest</mat-option>
        <mat-option (click)="minTemp()">Coldest</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>