#toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-area {
    padding: 1em 2em;
    margin: 2em;
}

#search-area button{
    margin-left: 1.5em;
    padding: 0px 21px;
}

mat-form-field.mat-form-field {
    font-size: 1em;
}

#card-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5em;
}

.white-text{
    color: white;
}


.meteo-card{
    background-color: #1976D2;
    color: white;
    padding: 2em 1em; 
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    min-width: 230px;
    max-width: 230px;
    min-height: 290px;
    max-height: 290px;
}

.bold-span{
    font-weight: bold;
    text-transform: uppercase;
}

.err-msg{
    color: red;
    font-weight: bold;
}



@media only screen and (max-width: 1024px) {
    #toolbar {
      display: flex;
      justify-content: space-around;
    }

    #card-wrapper{
        display: flex;
        justify-content: space-around;
        padding: 2em; 
    }

    .meteo-card{
        min-width: 250px;
        padding: 1.5em;
    }
  }


@media only screen and (max-width: 730px){
    #toolbar{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #search-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #search-area button{
        padding: auto;
        display: block;
        margin: 0 auto;
    }

    #card-wrapper{
        display: flex;
        justify-content: center;
        padding: 2em; 
    }

    .meteo-card{
        gap: 3px;
    }
}